<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<context:property-placeholder location="classpath:/application-properties.xml" />
	
	<!-- Spring에서 @PostConstruct를 통해서 초기화 작업을 하기 위해서는 applicationContext.xml에서 annotation-config 설정이 필요 -->
	<context:annotation-config />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		p:driverClassName="${database.driverClassName}" 
		p:url="${database.url}"
		p:username="${database.username}" 
		p:password="${database.password}"/>
		
	<!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSource"
		p:mapperLocations="classpath:net/slipp/dao/users/UserMapper.xml"/> -->
		
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSource"
		p:configLocation="classpath:mybatis-config.xml"/>
		
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
			
	<!-- <bean id="userDao" class="net.slipp.dao.users.jdbcUserDao"
		p:dataSource-ref="dataSource"
	/> -->

	<bean id="userDao" class="net.slipp.dao.users.MyBatisUserDao"
		p:sqlSession-ref="sqlSession"
		p:dataSource-ref="dataSource"
	/>
</beans>